
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tek Sayfa Site Sablon</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <nav id="nav">
        <a href="#img1">HOME</a>
        <a href="#color1">ABOUT</a>
        <a href="#photography">PHOTOGRAPHY</a>
        <a href="#color2">SIKIL</a>
        <a href="#img3">BLOG</a>
        <a href="#footer">CONTACT</a>
    </nav> 
    <ion-icon onclick="opennav()" class="menu-buton" name="menu-outline"></ion-icon>
    <section id="img1" class="img">
       <h1 class="header">I am gonna show you how<br> GREAT i am!!</h1>
       <a class="header_link" href="#">Portfolio</a>
   </section>
   <section id="color1" id="color1" class="color">
        <section>
            <article class="section1_article">
               <h6 class="section1_header">We don't have excuses!</h6>
               <p class="section1_content">Every one want change but no one wanna change</p>
            </article>
        </section>
        <section class="section1_container">
                <article><i id="icon1" class="material-icons">settings_ethernet</i></article>
            <article class="section1_colom">
                <p>If you are going to start go all the way other ways don't even start</p>
            </article>
                <article><i id="icon2" class="material-icons">keyboard_alt</i></article>
            <article class="section1_colom">
                <p>You have all the books all the tapes all the acces now is time to hunt!</p>
            </article>
                <article><i id="icon3" class="material-icons">dvr</i></article>
            <article class="section1_colom">
                <p>Denginiz degilim efendim dengesizim</p>
            </article>
        </section>
   </section>
   <div id="go-up"><a href="#img1" class="material-icons">north</a></div>
   <script>
    var mybutton = document.getElementById("go-up");

    window.onscroll = function() {scrollFunction()};
    function opennav() 
    {
    var x = document.getElementById("nav");
    if (x.style.width === "100%") 
    {
        x.style.width = "0%";
    }
    else 
    {
        x.style.width = "100%";
    }
    }
    function scrollFunction() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>
</body>
</html>