<!DOCTYPE html><!--Bu satırdaki kod html sayfası olduğunu belirtiyor-->
<html><!--Bu satır sayfayı başlatıyor ve dil seçilyor-->
<head><!--Bu satırda head açılıyor Görsel olmayan ayarlar burada-->
	<title>Muhammet Talha Ugurel</title><!--Bu satır site adını giriyo-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="mtu,muammet talauğurel,mtuvd">
	<link rel="stylesheet" href="../../../static/assets/css/admin.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
	<script src="../../assets/js/index.js"></script>
</head>
<body>
<!--nav start-->
<div class="mobil_nav" >
    <a class="btn"><i class="fas fa-bars" onclick="opennav()"></i></a>
</div>
<nav id="nav">
<ul>
<li><a href="/">Home</a></li>
</ul>
</nav>
<!--nav end-->
<!--main admin start-->
<div class="admin-wraper">
    <!--sidebar start-->
    <div class="sidebar">
        <ul>
           <li><a href="">Manage post</a></li>
           <li><a href="">Manage users</a></li>
        </ul>
    </div>
    <!--sidebar end-->
    <!--admin content start-->
    <div class="admin-content">
        <div class="buton-grup">
            <a href="/admin" class="big-btn">Manage posts</a>
        </div>
        <div class="content">
            <h2 class="page-title">Manage posts</h2>
            <form method="post">
                <div>
                    <label>Title</label>
                    <input type="text" name="title" class="text-input" />
                    <label>Post</label>
                    <div id="editor">
                        <p>Type here...</p>
                    </div>
                    <textarea name="body" class="post-input"></textarea>
                    <div>
                        <buton type="submit" class="big-btn">Add post</buton>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--admin content end-->
</div>
<!--main admin end-->
</body>
</html>
