<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tek Sayfa Site Sablon</title>
    <link rel="stylesheet" href="../static/assets/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unopkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="../static/assets/js/index.js"></script>
</head>
<body>
    <nav id="nav">
        {% if user.is_authenticated %}
        <a href="#img1">HOME</a>
        <a href="#color1">ABOUT</a>
        <a href="#photography">PHOTOGRAPHY</a>
        <a href="#color2">SIKIL</a>
        <a href="#img3">BLOG</a>
        <a href="#footer">CONTACT</a>
        <a href="/admin">ADMIN</a>
        {% else %}
        <a href="#img1">HOME</a>
        <a href="#color1">ABOUT</a>
        <a href="#photography">PHOTOGRAPHY</a>
        <a href="#color2">SIKIL</a>
        <a href="#img3">BLOG</a>
        <a href="#footer">CONTACT</a>
        {% endif %}
    </nav> 
    <ion-icon onclick="opennav()" class="menu-buton" name="menu-outline"></ion-icon>
    <section id="img1" class="img">
       <h1 class="header">I am gonna show you how<br> GREAT i am!!</h1>
       <a class="header_link" href="#">Portfolio</a>
   </section>
   <section id="color1" id="color1" class="color">
        <section>
            <article class="section1_article">
               <h6 class="section1_header">We don't have excuses!</h6>
               <p class="section1_content">Every one want change but no one wanna change</p>
            </article>
        </section>
        <section class="section1_container">
                <article><i id="icon1" class="material-icons">settings_ethernet</i></article>
            <article class="section1_colom">
                <p>If you are going to start go all the way other ways don't even start</p>
            </article>
                <article><i id="icon2" class="material-icons">keyboard_alt</i></article>
            <article class="section1_colom">
                <p>You have all the books all the tapes all the acces now is time to hunt!</p>
            </article>
                <article><i id="icon3" class="material-icons">dvr</i></article>
            <article class="section1_colom">
                <p>Denginiz degilim efendim dengesizim</p>
            </article>
        </section>
   </section>
   <section id="photography" class="img">
            <article class="zeen">
                <a href=""><h1 class="zeen-header">The Night of</h1></a>
                <div class="cover-v">
                    <img src="../static/assets/img/zeen1.jpg" alt="">
                </div>
            </article>
            <article class="zeen">
                <a href=""><h1 class="zeen-header">Ayvalik</h1></a>
                <div class="cover-h">
                <img src="../static/assets/img/zeen2.jpg" alt="">
                </div>
            </article>
            <article class="zeen">
                <a href=""><h1 class="zeen-header">Istanlove</h1></a>
                <div class="cover-h">
                <img src="../static/assets/img/zeen3.JPG" alt="">
                </div>
            </article>
            </article>
   </section>
   <section id="color2" class="color">
       <h1>Sikils</h1>
        <section class="sikil-container">
            <article class="sikils">
                <h2>Golge de duranin Golgesi olmaz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin id turpis eget cursus. Proin accumsan magna non neque lacinia pellentesque. Praesent a varius tortor. Nulla lectus lectus, malesuada sed turpis vel, dapibus viverra augue. Vivamus diam est, venenatis ac pretium et, tempor vel elit. Pellentesque condimentum erat ut ante egestas, nec varius libero semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis dapibus, nunc eget luctus suscipit, est mauris pharetra nisl, eget maximus lectus nibh a urna. Duis pharetra eget lorem sit amet vestibulum. Morbi lacus orci,
                </p>
            </article>
                <div class="bars">
                    <h2 class="sikil">HTML</h2>
                    <div class="bar"><div class="prosess"></div></div>
                    <h2 class="sikil">Java Script</h2>
                    <div class="bar"><div class="prosess"></div></div>
                    <h2 class="sikil">PHP</h2>
                    <div class="bar"><div class="prosess"></div></div>
                    <h2 class="sikil">CSS</h2>
                    <div class="bar"><div class="prosess"></div></div>
                </div>
        </section>
   </section>
   <section id="img3" class="img">
    {% for post in post[-3:] %}
       <article>
            <h1>{{post.title}}</h1>
            <p>{{post.data[:500]}}</p>
            <a href="{{ url_for('views.post', post_id=post.id) }}">devami</a>
       </article>
       {% endfor %}
   </section>
   <section id="footer">
        <article class="designer">
        <article class="logo">
            <img src="../static/assets/img/logo.png" alt="logo">
        </article>
            <p>© Created By MTU</p>
        <article class="socical-media">
            <a href="#"><ion-icon id="socical-icon" name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon id="socical-icon" name="logo-linkedin"></ion-icon></a>
            <a href="#"><ion-icon id="socical-icon" name="logo-youtube"></ion-icon></a>
        </article>
        </article>
   </section>
   <div id="go-up"><a href="#img1" class="material-icons">north</a></div>
   <script>
    var mybutton = document.getElementById("go-up");

    window.onscroll = function() {scrollFunction()};
    function opennav() 
    {
    var x = document.getElementById("nav");
    if (x.style.width === "100%") 
    {
        x.style.width = "0%";
    }
    else 
    {
        x.style.width = "100%";
    }
    }
    function scrollFunction() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }

    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>
</body>
</html>