<!DOCTYPE html><!--Bu satırdaki kod html sayfası olduğunu belirtiyor-->
<html><!--Bu satır sayfayı başlatıyor ve dil seçilyor-->
<head><!--Bu satırda head açılıyor Görsel olmayan ayarlar burada-->
	<title>Muhammet Talha Ugurel</title><!--Bu satır site adını giriyo-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="mtu,muammet talauğurel,mtuvd">
	<link rel="stylesheet" href="assets/css/index.css"> <!--css import-->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src="assets/js/index.js"></script>
</head><!--head kapanıyor-->
<body><!--body opened bg color inline-->
	<?php include("app/includes/nav.php");?>
    <div id="login-box">
        <div class="left">
              <h1>Log in</h1>
              <input type="text" name="email" placeholder="E-mail" />
              <input type="password" name="password" placeholder="Password" />              
              <input type="submit" name="signup_submit" value="Log in" />
        </div>
        <div class="right">
            <span class="loginwith">Log in with<br />social network</span>
            <button class="social-signin google">Log in with Google</button>
            </div>
            <div class="or">OR</div>
        </div>

</body><!--Body kapanıyor-->  
</html><!--Html kapanıyor-->